* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none !important;
}

/* header-section */
.header-bg-img {
  background-image: url(../images/header-img1.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

header a {
  color: white !important;
}

.nav-bg {
  border-bottom: 1px solid rgba(251, 253, 255, 0.20);
  background-image: linear-gradient(rgba(251, 253, 255, 0.01), rgba(251, 253, 255, 0.01));
  backdrop-filter: blur(16.5px);
}

main {
  background-image: url("../images/panoramic-skyline-buildings-with-empty-concrete-square-floor.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width:992px) {
  .sm-overflow-hidden {
    overflow: hidden;
  }

  div[id="menuIcon"] {
    width: 30px;
    height: 24px;
    cursor: pointer;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    z-index: 5;
    align-items: center;
    z-index: 4;
    position: relative;
  }

  div[id="menuIcon"]>span {
    width: 100%;
    height: 5px;
    background: white;
  }

  .menuList {
    flex-direction: column !important;
    top: 0;
    bottom: 0;
    right: -100%;
    position: absolute;
    opacity: 1;
    max-width: 400px;
    width: 100%;
    min-height: 100vh;
    background: rgba(251, 253, 255, 0.01);
    z-index: 3;
    box-shadow: 0px 0px 19px 9px rgba(0, 0, 0, 0.10);
    transition: all 500ms linear;
    backdrop-filter: blur(10px);
    z-index: 3;
  }

  .menuList.show {
    right: 0;
  }

  nav:has(ul.menuList.show) {
    right: 0;
    backdrop-filter: unset !important;
  }
}